:root {
    --background-color: #121212;
    --card-background-color: #1E1E1E;
    --text-color: #F0F0F0;
    --highlight-color: #00BFFF;
    --button-color: #1A73E8;
    --button-hover-color: #0056b3;
    --border-radius: 10px;
    --transition-speed: 0.3s;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

#app {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: var(--card-background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
    text-align: center;
    padding-bottom: 20px;
}

h1 {
    color: var(--highlight-color);
}

button {
    background-color: var(--button-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed);
    margin: 10px;
}

button:hover {
    background-color: var(--button-hover-color);
}

section {
    margin-top: 30px;
    padding: 20px;
    background: var(--card-background-color);
    border-radius: var(--border-radius);
}

#staking-info p, #staking-actions p {
    margin: 5px 0;
}

input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    width: calc(100% - 24px);
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    color: var(--highlight-color);
}

@media (max-width: 768px) {
    #app {
        padding: 10px;
    }

    button {
        padding: 8px 16px;
    }

    input {
        padding: 8px;
    }
}
